{% extends "base.html" %}
{% block content %}

<h2>All Rooms</h2>

{% for room in rooms %}

<h3> {{room.name}} </h3>

<section>
    <ul>
        {% for room_session_type in room_session_types %}
        {% if room_session_type.room.id == room.id %}
        <li>{{room_session_type.session_type.name}}
            <form action="/room_session_types/{{ room_session_type.id }}/delete" method="POST">
                <input type="submit" value="Delete Session Type">
            </form>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>

<form action="/rooms/{{ room.id }}/delete" method="POST">
    <input type="submit" value="Delete Room">
</form>

{% endfor %}

<h2>Add Session Type to Room</h2>
<form action="/room_session_types" method="POST">
    <div>
        <label for="room">Room</label>
        <select name="room_id" id="room_id">
            {% for room in rooms %}
            <option value="{{ room.id }}">
                {{ room.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="session_type_id">Session Type</label>
        <select name="session_type_id" id="session_type_id">
            {% for session_type in session_types %}
            <option value="{{ session_type.id }}">
                {{ session_type.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit" value = "Add Type">
    </div>
</form>

<h2> Add New Room </h2>
<section>
    <form action="/rooms" method="post">
        <div>
            <label for="name"> Name</label>
            <input type="text" id="name" name="name"  required autofocus>
        </div>
        <div>
            <button type="submit">Create Room</button>
        </div>
    </form>
</section>

{% endblock %}