{% extends "base.html" %}
{% block content %}
<div class="page_title">Rooms</div>
</header>
<body>
    <div class="page_section">All Rooms</div>

    <section class="flex-container">
        {% for room in rooms %}
        <div class="flex-item">
            <h3>{{room.name}}</h3>
            {% for room_session_type in room_session_types %}
            {% if room_session_type.room.id == room.id %}
            <p>{{room_session_type.session_type.name}}
            <form action="/room_session_types/{{ room_session_type.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
            </p>
            {% endif %}
            {% endfor %}
            <p><form action="/rooms/{{ room.id }}/delete" method="POST">
                <input type="submit" value="Delete Room"></p>
            </form>            
        </div>
        {% endfor %}
    </section>
    
<div class="page_section">Add Session Category to Room</div>
<form class="new_item" action="/room_session_types" method="POST">
    <ul class = "form-wrapper">
    <li class = "form-row">
        <label for="room">Room</label>
        <select name="room_id" id="room_id">
            {% for room in rooms %}
            <option value="{{ room.id }}">
                {{ room.name }}
            </option>
            {% endfor %}
        </select>
    </li>
    <li class = "form-row">
        <label for="session_type_id">Session Type</label>
        <select name="session_type_id" id="session_type_id">
            {% for session_type in session_types %}
            <option value="{{ session_type.id }}">
                {{ session_type.name }}
            </option>
            {% endfor %}
        </select>
    </li>
    <li class = "form-row">
        <input type="submit" value = "Add Type">
    </li>
    </ul>
</form>

<div class="page_section">Add New Room</div>
<section>
    <form class = "form-row" action="/rooms" method="post">
       <ul class = "form-wrapper">
        <li class = "form-row">
            <label for="name"> Name</label>
            <input type="text" id="name" name="name"  required>
        </li>
        <li class = "form-row">
            <button type="submit">Create Room</button>
        </li>
    </form>
</section>

{% endblock %}