{% extends "base.html" %}
{% block content %}
<div class="page_title">Customer Profile</div>
</header>
<body>
    <div class="container">
        <div class="top_page_section">Update Customer Details</div>
        <section>
            <form class="new_item" action="/customers/{{customer.id}}" method="post">
                <ul class="form-wrapper">
                    <li class="form-row">
                        <label for="first_name">First Name</label>
                        <input type="text" id="first_name" name="first_name" value="{{customer.first_name}}" required>
                    </li>

                    <li class="form-row">
                        <label for="last_name">Last Name</label>
                        <input type="text" id="last_name" name="last_name" value="{{customer.last_name}}" required>
                    </li>

                    <li class="form-row">
                        <label for="dob">Date of Birth</label>
                        <input type="date" id="dob" name="dob" value="{{customer.dob}}" required>
                    </li>

                    <li class="form-row">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" value="{{customer.email}}" required>
                    </li>

                    <li class="form-row">
                        <label for="membership_level">Membership Level</label>
                        <select id="membership_level" name="membership_level">

                            <option value="Standard" {% if customer.membership_level=="Standard" %} selected="selected"
                                {% endif %}>
                                Standard
                            </option>

                            <option value="Premium" {% if customer.membership_level=="Premium" %} selected="selected" {%
                                endif %}>
                                Premium
                            </option>
                        </select>
                    </li>

                    <li class="form-row">
                        <label for="membership_status">Membership Status</label>
                        <select id="membership_status" name="membership_status">

                            <option value="Active" {% if customer.membership_status=="Active" %} selected="selected" {%
                                endif %}>
                                Active
                            </option>

                            <option value="Deactivated" {% if customer.membership_status=="Deactivated" %}
                                selected="selected" {% endif %}>
                                Deactivated
                            </option>

                        </select>
                    </li>

                    <li class="form-row">
                        <label for="payment_method">Payment Method</label>
                        <select id="payment_method" name="payment_method">

                            <option value="Direct Debit" {% if customer.payment_method=="Direct Debit" %}
                                selected="selected" {% endif %}>
                                Direct Debit
                            </option>

                            <option value="Card Payment" {% if customer.payment_method=="Card Payment" %}
                                selected="selected" {% endif %}>
                                Card Payment
                            </option>

                            <option value="Cash" {% if customer.payment_method=="Cash" %} selected="selected" {% endif
                                %}>
                                Cash
                            </option>
                        </select>
                    </li>

                    <li class="form-row">
                        <label for="missed_classes">Missed Classes</label>
                        <input type="number" id="missed_classes" name="missed_classes"
                            value="{{customer.missed_classes}}" required>
                    </li>

                    <li class="form-row">
                        <label for="monthly_bill">Monthly Bill</label>
                        <input type="number" min="0" step="any" id="monthly_bill" name="monthly_bill"
                            value="{{customer.monthly_bill}}" required>
                    </li>

                    <li class="form-row">
                        <input type="checkbox" id="extra_physio" name="extra_physio" value="{{customer.extra_physio}}"
                            {% if customer.extra_physio==True %} checked="checked" {% endif %}>
                        <label for="extra_physio">Extra Physio</label>
                        <input type="checkbox" id="extra_pt" name="extra_pt" value="True" {% if customer.extra_pt==True
                            %} checked="checked" {% endif %}>
                        <label for="extra_pt">Extra PT</label>
                        <input type="checkbox" id="extra_service_3" name="extra_service_3" value="True" {% if
                            customer.extra_service_3==True %} checked="checked" {% endif %}>
                        <label for="extra_service_3">Extra Service3</label>
                        <input type="checkbox" id="extra_service_4" name="extra_service_4" value="True" {% if
                            customer.extra_service_4==True %} checked="checked" {% endif %}>
                        <label for="extra_service_4">Extra Service4</label>
                    </li>

                    <li class="form-row">
                        <button type="submit">Update Customer</button>
                    </li>
                </ul>
            </form>
        </section>
        <div class="page_section">Customer Bookings</div>
        <div class="table-container">
            <div class="flex-table header">
                <div class="flex-row">Name</div>
                <div class="flex-row">Date</div>
                <div class="flex-row">Time</div>
                <div class="flex-row">Room</div>
                <div class="flex-row">Cancel</div>
            </div>
            {% for session in sessions_booked %}
            <div class="flex-table row">
                <div class="flex-row"><a class="name" href="/sessions/{{session.id}}"> {{ session.name }} </a> </div>
                <div class="flex-row">{{session.date_in_words()}}</div>
                <div class="flex-row">{{session.time_in_words()}}</div>
                <div class="flex-row">{% if session.room['id'] %} {{session.room.name}} {% endif %} </div>
                <div class="flex-row"> {% for booking in bookings %}
                    {% if booking.customer.id == customer.id and booking.session.id == session.id %}
                    <form action="/bookings/{{ booking.id }}/delete" method="POST">
                        <input type="submit" value="Cancel Booking">
                    </form>{% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="page_section">New Booking</div>
        <form class="new_item" action="/bookings" method="POST">
            <ul class="form-wrapper">
                <li class="form-row">
                    <!-- <label for="customer">Customer</label> -->
                    <select name="customer_id" id="customer">
                        <option value="{{ customer.id }}">
                            {{ customer.first_name }} {{customer.last_name}}
                        </option>
                    </select>
                </li>
                <li class="form-row">
                    <!-- <label for="session">Session</label> -->
                    <select name="session_id" id="session">
                        {% for session in sessions %}
                        <option value="{{ session.id }}">
                            {{ session.name }} {{session.date_and_time}}
                        </option>
                        {% endfor %}
                    </select>
                </li>
                <li class="form-row">
                    <input type="submit" value="Create Booking">
                </li>
            </ul>
        </form>
        <div class="page_section">Delete Customer</div>
        <div class="button_container">
            <form action="/customers/{{ customer.id }}/delete" method="POST">
                <input class="delete" type="submit" value="Delete Customer">
            </form>
        </div>
    </div>
</body>
{% endblock %}