{% extends "base.html" %}
{% block content %}

<h2> Customer Profile</h2>
<section>
    <form action="/customers/{{customer.id}}" method="post">
        <div>
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" value="{{customer.first_name}}" required>
        </div>

        <div>
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" value="{{customer.last_name}}" required>
        </div>

        <div>
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob" value="{{customer.dob}}" required>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" value="{{customer.email}}" required>
        </div>

        <div>
            <label for="membership_level">Membership Level</label>
            <select id="membership_level" name="membership_level">

                <option value="Standard" {% if customer.membership_level=="Standard" %} selected="selected" {% endif %}>
                    Standard
                </option>

                <option value="Premium" {% if customer.membership_level=="Premium" %} selected="selected" {% endif %}>
                    Premium
                </option>
            </select>
        </div>

        <div>
            <label for="membership_status">Membership Status</label>
            <select id="membership_status" name="membership_status">

                <option value="Active" {% if customer.membership_status=="Active" %} selected="selected" {% endif %}>
                    Active
                </option>

                <option value="Deactivated" {% if customer.membership_status=="Deactivated" %} selected="selected" {%
                    endif %}>
                    Deactivated
                </option>

            </select>
        </div>

        <div>
            <label for="payment_method">Payment Method</label>
            <select id="payment_method" name="payment_method">

                <option value="Direct Debit" {% if customer.payment_method=="Direct Debit" %} selected="selected" {%
                    endif %}>
                    Direct Debit
                </option>

                <option value="Card Payment" {% if customer.payment_method=="Card Payment" %} selected="selected" {%
                    endif %}>
                    Card Payment
                </option>

                <option value="Cash" {% if customer.payment_method=="Cash" %} selected="selected" {% endif %}>
                    Cash
                </option>
            </select>
        </div>

        <div>
            <input type="checkbox" id="extra_physio" name="extra_physio" value="{{customer.extra_physio}}" {% if
                customer.extra_physio==True %} checked="checked" {% endif %}>
            <label for="extra_physio">Extra Physio</label><br>
            <input type="checkbox" id="extra_pt" name="extra_pt" value="True" {% if customer.extra_pt==True %}
                checked="checked" {% endif %}>
            <label for="extra_pt">Extra PT</label><br>
            <input type="checkbox" id="extra_service_3" name="extra_service_3" value="True" {% if
                customer.extra_service_3==True %} checked="checked" {% endif %}>
            <label for="extra_service_3">Extra Service3</label><br>
            <input type="checkbox" id="extra_service_4" name="extra_service_4" value="True" {% if
                customer.extra_service_4==True %} checked="checked" {% endif %}>
            <label for="extra_service_4">Extra Service4</label><br>
        </div>

        <div>
            <label for="missed_classes">Missed Classes</label>
            <input type="number" id="missed_classes" name="missed_classes" value="{{customer.missed_classes}}" required
            >
        </div>

        <div>
            <label for="monthly_bill">Monthly Bill</label>
            <input type="number" min="0" step="any" id="monthly_bill" name="monthly_bill"
                value="{{customer.monthly_bill}}" required>
        </div>

        <div>
            <button type="submit">Update Customer</button>
        </div>
    </form>
    <div>
        <form action="/customers/{{ customer.id }}/delete" method="POST">
            <input type="submit" value="Delete Customer">
        </form>
    </div>
</section>

<h2> Customer Bookings</h2>
<section>
    {% for session in sessions_booked %}
        <ul>
            <li>
                <a href="/sessions/{{session.id}}"> {{ session.name }} </a>
            </li>
            <li>
                {{ session.date_and_time }} </a>
            </li>
            <li>
                {{session.duration}}
            </li>
                {% for booking in bookings %}
                {% if booking.customer.id == customer.id and booking.session.id == session.id %}
                <li><form action="/bookings/{{ booking.id }}/delete" method="POST">
                    <input type="submit" value="Cancel Booking"></li></form>{% endif %}
                {% endfor %}
        </ul>
    {% endfor %}
</section>

<h2>New Booking</h2>
<form action="/bookings" method="POST">
    <div>
        <label for="customer">Customer</label>
        <select name="customer_id" id="customer">
            <option value="{{ customer.id }}">
                {{ customer.first_name }} {{customer.last_name}}
            </option>
        </select>
    </div>
    <div>
        <label for="session">Session</label>
        <select name="session_id" id="session">
            {% for session in sessions %}
            <option value="{{ session.id }}">
                {{ session.name }} {{session.date_and_time}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type= "submit" value= "Create Booking">
    </div>
</form>

{% endblock %}