{% extends "base.html" %}
{% block content %}
<div class="page_title">New Customer</div>
</header>

<body>
    <div class="container">
        <section>
            <form class="new_item" action="/staff" method="post">
                <ul class="form-wrapper">
                    <li class="form-row">
                        <label for="first_name">First Name</label>
                        <input type="text" id="first_name" name="first_name" required autofocus>
                    </li>

                    <li class="form-row">
                        <label for="last_name">Last Name</label>
                        <input type="text" id="last_name" name="last_name" required autofocus>
                    </li>

                    <li class="form-row">
                        <label for="form-row">Email</label>
                        <input type="text" id="email" name="email" required autofocus>
                    </li>
                    <li class="form-row">
                        <button type="submit">Create Staff Member</button>
                    </div>
                </ul>
            </form>
        </section>
    </div>


        {% endblock %}