{% extends "base.html" %}
{% block content %}

<h2> Staff Profile </h2>

<h3><a href="/staff/{{staff.id}}"> {{ staff.first_name }} {{ staff.last_name }} </a></h3>

<section>
    <ul>
        {% for staff_session_type in staff_session_types %}
        {% if staff_session_type.staff_member.id == staff.id %}
        <li>{{staff_session_type.session_type.name}}
            <form action="/staff_session_types/{{ staff_session_type.id }}/delete" method="POST">
                <input type="submit" value="Delete Session Type"> </form>
        </li>
        {% endif %}
        {% endfor %}

    </ul>
</section>


<section>
    <form action="/staff/{{staff.id}}" method="post">
        <div>
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" value="{{staff.first_name}}" required>
        </div>

        <div>
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" value="{{staff.last_name}}" required>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" value="{{staff.email}}" required>
        </div>

        <div>
            <label for="monthly_invoice">Monthly Invoice</label>
            <input type="number" min="0" step="any" id="monthly_invoice" value={{staff.monthly_invoice}}
                name="monthly_invoice" required>
        </div>

        <div>
            <button type="submit">Update Staff Member</button>
        </div>
    </form>
    <div>
        <form action="/staff/{{ staff.id }}/delete" method="POST">
            <input type="submit" value="Delete Staff Member">
        </form>
    </div>
</section>

<h2>Add Session Type to Staff</h2>
<form action="/staff_session_types" method="POST">
    <div>
        <label for="staff_id">Staff Member</label>
        <select name="staff_id" id="staff_id">
            <option value="{{staff.id }}">
                {{ staff.first_name }} {{staff.last_name}}
            </option>
        </select>
    </div>
    <div>
        <label for="session_type_id">Session Type</label>
        <select name="session_type_id" id="session_type_id">
            {% for session_type in session_types %}
            <option value="{{ session_type.id }}">
                {{ session_type.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit" value = "Add Type">
    </div>
</form>

{% endblock %}