{% extends "base.html" %}
{% block content %}
<div class="page_title">Session Category</div>
</header>

<body>
    <div class="page_section">All Session Types</div>

    <section class="flex-container">
        {% for session_type in session_types %}
        <div class="flex-item">
            <h3> {{session_type.name}} </h3>
            <h4>Rooms</h4>
            {% for room_session_type in room_session_types %}
            {% if room_session_type.session_type.id == session_type.id %}
            {{room_session_type.room.name}}
            <form action="/room_session_types/{{ room_session_type.id }}/delete" method="POST">
                <input type="submit" value="Remove"></form><br>
            {% endif %}
            {% endfor %}
            <h4>Staff</h4>
            {% for staff_session_type in staff_session_types %}
            {% if staff_session_type.session_type.id == session_type.id %}
            {{staff_session_type.staff_member.first_name}}
            <form action="/staff_session_types/{{ staff_session_type.id }}/delete" method="POST">
                <input type="submit" value="Remove"></form><br>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </section>

   





    <div class="page_section">Add Session Category to Room</div>
    <form class="new_item" action="/room_session_types" method="POST">
        <ul class="form-wrapper">
            <li class="form-row">
                <label for="room">Room</label>
                <select name="room_id" id="room_id">
                    {% for room in rooms %}
                    <option value="{{ room.id }}">
                        {{ room.name }}
                    </option>
                    {% endfor %}
                </select>
            </li>
            <li class="form-row">
                <label for="session_type_id">Session Category</label>
                <select name="session_type_id" id="session_type_id">
                    {% for session_type in session_types %}
                    <option value="{{ session_type.id }}">
                        {{ session_type.name }}
                    </option>
                    {% endfor %}
                </select>
            </li>
            <li class="form-row">
                <input type="submit" value="Add Type">
            </li>
        </ul>
    </form>

    <div class="page_section">Add Session Category to Staff</div>
    <form class="new_item" action="/staff_session_types" method="POST">
        <ul class="form-wrapper">
            <li class="form-row">
                <label for="staff_id">Staff Member</label>
                <select name="staff_id" id="staff_id">
                    {% for staff_member in staff %}
                    <option value="{{ staff_member.id }}">
                        {{ staff_member.first_name }} {{staff_member.last_name}}
                    </option>
                    {% endfor %}
                </select>
            </li>
            <li class="form-row">
                <label for="session_type_id">Session Category</label>
                <select name="session_type_id" id="session_type_id">
                    {% for session_type in session_types %}
                    <option value="{{ session_type.id }}">
                        {{ session_type.name }}
                    </option>
                    {% endfor %}
                </select>
            </li>
            <li class="form-row">
                <input type="submit" value="Add Type">
            </li>
        </ul>
    </form>

    <div class="page_section">Add New Session Category</div>
    <section>
        <form class="new_item" action="/session_types" method="post">
            <ul class="form-wrapper">
                <li class="form-row">
                    <label for="name"> Name</label>
                    <input type="text" id="name" name="name" required>
                </li>
                <li class="form-row">
                    <button type="submit">Create Room</button>
                </li>
            </ul>
        </form>
    </section>








    {% endblock %}