<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>pyGym</title>
</head>

<header>
    <!-- header-start -->
    <div id='nav'>
    <div id="logo">pyGym</div> 
        <nav>
            <ul class="nav">
                <li><a href="/customers">Customers</a></li>
                <li><a href="/sessions">Sessions</a></li>
                <li><a href="/staff">Staff</a></li>
                <li><a href="/rooms">Rooms</a></li>
                <li><a href="/bookings">Bookings</a></li>
                <li><a href="/session_types">Categories</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>
        {% block content %}
        {% endblock %}
</header>
</html>